<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wisenut.mapper.DashboardMapper">
    <select id="getDashboard1List" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.DashboardInfo1">
        SELECT
            D.CSELTYPENM AS LV1_NM
            ,C.CSELTYPENM AS LV2_NM
            ,B.CSELTYPENM AS LV3_NM
            ,A.CLS_LABEL
            ,A.SUM_COUNT
        FROM (
                 SELECT CLS_LABEL, sum(COUNT) AS SUM_COUNT
                 FROM TB_WTM_STAT_KEYWORD A1, TB_WTM_IS_CLSCODE B1
                 WHERE A1.CLS_LABEL = B1.CSELTYPECD
                   AND A1.DIV= 'TS'
                   AND B1.CSELTYPEDEPTH = '3'
                   AND A1.HOUR = 1 --to_number(to_char(sysdate, 'hh24'))
                   AND A1.MINUTE = 30 --trunc(to_number(to_char(sysdate, 'mi')), 1)
                   --AND A1.YEAR = to_number(to_char(sysdate, 'yyyy'))
                   --AND A1.MONTH = to_number(to_char(sysdate, 'mm'))
                   --AND A1.DAY = to_number(to_char(sysdate, 'dd'))
                   --AND A1.HOUR = to_number(to_char(sysdate, 'hh24'))
                   --AND A1.MINUTE = trunc(to_number(to_char(sysdate, 'mi')), 1)
                 GROUP BY CLS_LABEL
                 ORDER BY sum(COUNT) desc
             ) A
        LEFT OUTER JOIN TB_WTM_IS_CLSCODE B
            ON A.CLS_LABEL = B. CSELTYPECD
        LEFT OUTER JOIN TB_WTM_IS_CLSCODE C
            ON B.PARCSELTYPECD = C.CSELTYPECD
        LEFT OUTER JOIN TB_WTM_IS_CLSCODE D
            ON C.PARCSELTYPECD = D.CSELTYPECD
    </select>

    <select id="getDashboard2List" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.DashboardInfo2">
        SELECT
            A.KEYWORD,
            sum(A.count) AS SUM_COUNT
        FROM TB_WTM_STAT_KEYWORD A
        WHERE A.DIV = 'TS'
          --AND A.YEAR = to_number(to_char(sysdate, 'yyyy'))
          --AND A.MONTH = to_number(to_char(sysdate, 'mm'))
          --AND A.DAY = to_number(to_char(sysdate, 'dd'))
          --AND A.HOUR = to_number(to_char(sysdate, 'hh24'))
          --AND A.MINUTE = trunc(to_number(to_char(sysdate, 'mi')), 1)
          AND A.YEAR = 2023
          AND A.MONTH = 9
          AND A.DAY = 1
          AND A.HOUR = 1
          AND A.MINUTE = 30
        GROUP BY KEYWORD
        ORDER BY SUM_COUNT DESC

    </select>

    <select id="getDashboard3List" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.DashboardInfo3">
        SELECT
            B.CSELTYPENM AS LV3_NM
            ,A.CLS_LABEL
            ,A.SUM_COUNT
        FROM (
             SELECT CLS_LABEL, sum(COUNT) AS SUM_COUNT
             FROM TB_WTM_STAT_CLASS A1, TB_WTM_IS_CLSCODE B1
             WHERE A1.CLS_LABEL = B1.CSELTYPECD
               AND A1.DIV= 'TS'
               AND B1.CSELTYPEDEPTH = '3'
               AND A1.SENT_CLS_CD = '300002'
               --AND A1.HOUR = 1 --to_number(to_char(sysdate, 'hh24'))
               --AND A1.MINUTE = 30 --trunc(to_number(to_char(sysdate, 'mi')), 1)
               --AND A1.YEAR = to_number(to_char(sysdate, 'yyyy'))
               --AND A1.MONTH = to_number(to_char(sysdate, 'mm'))
               --AND A1.DAY = to_number(to_char(sysdate, 'dd'))
               --AND A1.HOUR = to_number(to_char(sysdate, 'hh24'))
               --AND A1.MINUTE = trunc(to_number(to_char(sysdate, 'mi')), 1)
             GROUP BY CLS_LABEL
             ORDER BY sum(COUNT) desc
        ) A
        LEFT OUTER JOIN TB_WTM_IS_CLSCODE B
                         ON A.CLS_LABEL = B. CSELTYPECD
        ORDER BY A.SUM_COUNT DESC
    </select>

    <select id="getDashboard4List" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.DashboardInfo4">
        SELECT
            A.YEAR,
            A.MONTH,
            A.DAY,
            A.KEYWORD,
            nvl(SUM_COUNT_TODAY, 0) AS SUM_COUNT_TODAY,
            nvl(SUM_COUNT_BEFORE1, 0) AS SUM_COUNT_BEFORE1,
            nvl(SUM_COUNT_BEFORE2, 0) AS SUM_COUNT_BEFORE2,
            nvl(SUM_COUNT_BEFORE3, 0) AS SUM_COUNT_BEFORE3,
            nvl(SUM_COUNT_BEFORE4, 0) AS SUM_COUNT_BEFORE4,
            nvl(SUM_COUNT_BEFORE5, 0) AS SUM_COUNT_BEFORE5,
            nvl(SUM_COUNT_BEFORE6, 0) AS SUM_COUNT_BEFORE6,
            nvl(SUM_COUNT_BEFORE7, 0) AS SUM_COUNT_BEFORE7,
            nvl(SUM_COUNT_BEFORE8, 0) AS SUM_COUNT_BEFORE8
        FROM(
                SELECT
                    YEAR,
                    MONTH,
                    DAY,
                    KEYWORD,
                    nvl(sum(count), 0) AS SUM_COUNT_TODAY
                FROM TB_WTM_STAT_STOPWORD
                WHERE DIV = 'TS'
                          AND DIC_TYPE = 'ISSUE'
                          AND YEAR = 2023--to_number(to_char(sysdate, 'yyyy'))
                          AND MONTH = 9--to_number(to_char(sysdate, 'mm'))
                          AND DAY = 9--to_number(to_char(sysdate, 'dd'))
                GROUP BY YEAR, MONTH, DAY, KEYWORD
                ORDER BY SUM_COUNT_TODAY DESC
            ) A
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE1
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -1, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -1, 'mm'))
                      AND DAY = 8--to_number(to_char(sysdate -1, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE1 DESC
        ) B
                                ON  A.KEYWORD = B.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE2
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -2, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -2, 'mm'))
                      AND DAY = 7--to_number(to_char(sysdate -2, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE2 DESC
        ) C
                                ON  A.KEYWORD = C.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE3
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -3, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -3, 'mm'))
                      AND DAY = 6--to_number(to_char(sysdate -3, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE3 DESC
        ) D
                                ON  A.KEYWORD = D.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE4
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -4, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -4, 'mm'))
                      AND DAY = 5--to_number(to_char(sysdate -4, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE4 DESC
        ) E
                                ON  A.KEYWORD = E.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE5
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -5, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -5, 'mm'))
                      AND DAY = 4--to_number(to_char(sysdate -5, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE5 DESC
        ) E
                                ON  A.KEYWORD = E.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE6
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -6, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -6, 'mm'))
                      AND DAY = 3--to_number(to_char(sysdate -6, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE6 DESC
        ) F
                                ON  A.KEYWORD = F.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE7
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -7, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -7, 'mm'))
                      AND DAY = 2--to_number(to_char(sysdate -7, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE7 DESC
        ) G
                                ON  A.KEYWORD = G.KEYWORD
                LEFT OUTER JOIN (
            SELECT
                YEAR,
                MONTH,
                DAY,
                KEYWORD,
                nvl(sum(count), 0) AS SUM_COUNT_BEFORE8
            FROM TB_WTM_STAT_STOPWORD
            WHERE DIV = 'TS'
                      AND DIC_TYPE = 'ISSUE'
                      AND YEAR = 2023--to_number(to_char(sysdate -8, 'yyyy'))
                      AND MONTH = 9--to_number(to_char(sysdate -8, 'mm'))
                      AND DAY = 1--to_number(to_char(sysdate -8, 'dd'))
            GROUP BY YEAR, MONTH, DAY, KEYWORD
            ORDER BY SUM_COUNT_BEFORE8 DESC
        ) H
                                ON  A.KEYWORD = H.KEYWORD
        ORDER BY A.SUM_COUNT_TODAY desc
    </select>
</mapper>