<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wisenut.mapper.KeywordMapper">
    <select id="getKeywordList" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.KeywordInfo" >
        select
            A.DIC_ID,
            A.DIC_NAME,
            A.DIC_TYPE,
            B.name as DIC_TYPE_NAME,
            A.DIC_DESC,
            A.KEYWORD,
            A.USE_YN,
            A.SORT_ORDER
        from TB_WTM_IS_DICTIONARIES A
        LEFT OUTER JOIN TB_WTM_IS_CODE B ON A.DIC_TYPE = B.CODE
        where DIC_TYPE in ('INTEREST', 'ISSUE')
        <if test="searchKeyword != null and searchKeyword != ''">
        and KEYWORD like '%'|| #{searchKeyword} ||'%'
        </if>
        <if test="searchDicType != null and searchDicType != ''">
        and DIC_TYPE = #{searchDicType}
        </if>
        order by SORT_ORDER
    </select>

    <insert id="insertKeyword" parameterType="java.util.Map">
        <selectKey keyProperty="seqKeyword" resultType="java.lang.Integer" order="BEFORE">
            select SEQ_TB_WTM_IS_DICTIONARIES.nextval from dual
        </selectKey>
        insert into TB_WTM_IS_DICTIONARIES(
            DIC_ID,
            DIC_TYPE,
            KEYWORD,
            USE_YN,
            SORT_ORDER,
            REG_DT,
            REG_USER_ID
        )
        values(
            #{seqKeyword},
            #{dicType},
            #{keyword},
            #{keywordUseYn},
            #{keywordSortOrder},
            sysdate,
            #{creUser}
        )
    </insert>

    <update id="updateKeyword" parameterType="java.util.Map">
        update TB_WTM_IS_DICTIONARIES
        set
            DIC_TYPE = #{dicType},
            KEYWORD = #{keyword},
            USE_YN = #{keywordUseYn},
            SORT_ORDER = #{keywordSortOrder},
            MOD_DT = sysdate,
            MOD_USER_ID = #{modUser}
        where DIC_ID = #{dicId}
    </update>

    <delete id="deleteKeyword" parameterType="java.util.List">
        delete from TB_WTM_IS_DICTIONARIES
        where DIC_ID in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>
