<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wisenut.mapper.UserMapper">

    <select id="getLoginInfo" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.UserInfo">
        select
            USER_ID
            ,USER_PW
            ,USER_NAME
            ,USER_EMAIL
            ,USER_AUTH
            ,USE_YN
            ,ACTIVE_YN
            ,LOGIN_FAIL_CNT
            ,RESET_YN
            ,ALARM_YN
            ,sysdate - NVL(PW_CHG_DT, CRE_DT) AS PW_CHG_DAY
        from WISETM_USER_INFO
        where USER_ID = #{userId}
    </select>

    <update id="addLoginFailCount" parameterType="java.util.Map">
        update WISETM_USER_INFO A
        set A.LOGIN_FAIL_CNT = (
                select B.LOGIN_FAIL_CNT + 1 AS COUNT
                from WISETM_USER_INFO B
                where B.USER_ID = #{userId}
            )
        where A.USER_ID = #{userId}
    </update>

    <update id="resetLoginFailCount" parameterType="java.util.Map">
        update WISETM_USER_INFO
        set LOGIN_FAIL_CNT = 0
        where USER_ID = #{userId}
    </update>

    <insert id="insertActionHistory" parameterType="java.util.Map">
        <selectKey keyProperty="seqActionHistory" resultType="java.lang.Integer" order="BEFORE">
                   select SEQ_WISETM_ACTION_HISTORY.nextval from dual
        </selectKey>
        insert into WISETM_ACTION_HISTORY(
            ACTION_ID
            ,ACTION_DT
            ,ACTION_TYPE
            ,RESOURCE_ID
            ,RESOURCE_TYPE
            ,ACTION_MSG
            ,ACTION_USER
            ,PARAMS
            ,USER_IP
        )
        values(
            #{seqActionHistory}
            ,sysdate
            ,#{actionType}
            ,#{resourceId}
            ,#{resourceType}
            ,#{actionMsg}
            ,#{actionUser}
            ,#{params}
            ,#{userIp}
        )
    </insert>

    <select id="getRecentlyPwList" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.UserActionInfo">
        SELECT *
        FROM (
            SELECT *
            FROM WISETM_ACTION_HISTORY
            WHERE action_user = #{userId}
            AND RESOURCE_ID = 1001003
            ORDER BY action_dt desc
        )
        <![CDATA[
        WHERE rownum < 4
        ]]>
    </select>

    <update id="updateUserPw" parameterType="java.util.Map">
        update WISETM_USER_INFO
        set USER_PW = #{userPw},
            RESET_YN = 'N',
            PW_CHG_DT = sysdate
        where USER_ID = #{userId}
        and RESET_YN = 'Y'
    </update>

    <update id="updateResetYn" parameterType="java.util.Map">
        update WISETM_USER_INFO
        set RESET_YN = 'Y',
            MOD_DT = sysdate,
            MOD_USER = 'SYSTEM'
        where USER_ID = #{userId}
    </update>


    <select id="getUserList" parameterType="java.util.Map" resultType="kr.co.wisenut.entity.UserInfo">
        select
            USER_ID
             ,'' as USER_PW
             ,USER_NAME
             ,USER_EMAIL
             ,USER_AUTH
             ,USE_YN
             ,ACTIVE_YN
             ,LOGIN_FAIL_CNT
             ,RESET_YN
             ,ALARM_YN
             ,sysdate - NVL(PW_CHG_DT, CRE_DT) AS PW_CHG_DAY
        from WISETM_USER_INFO
    </select>

    <update id="initUserPw" parameterType="java.util.Map">
        update WISETM_USER_INFO
        set USER_PW = #{userPw},
            RESET_YN = 'Y',
            LOGIN_FAIL_CNT = 0,
            MOD_DT = sysdate,
            MOD_USER = #{modUser}
        where USER_ID = #{userId}
    </update>

</mapper>